
/* фиксит png, а потом выставляет visibility в "visible" */
img { behavior: url(base/css/pngfix.htc); visibility: expression(/\.png$/.test(this.src) ? "hidden" : "visible"); }

/* фиксит лейблы без атрибута for="..." */
label {behavior: url(base/css/labelfix.htc)}

div.options { background: white; float: left; width: 321px; text-align: left; font-size: 14px; font-weight: bold; line-height: 15px; margin-left: 37px; }
div.bottom div.browsers { margin-left: 37px; }
div.caseShow { margin-left: -350px; }
div.work input.done { margin-right: 43px; }
div.work div.title { margin: 0 44px 25px 0; // margin-top: 40px; border-bottom: 3px solid; }

div.options { margin-left: 38px; }


div.baloonError { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='base/img/content/baloonError.png',sizingMethod='crop'); }

/* наследование свойств у Object */
html {behavior: url(base/css/prototype.htc)}
