Options +Includes
AddHandler server-parsed .xhtml

AddType application/xhtml+xml .xhtml
AddCharset utf-8 .xhtml

RewriteEngine  On
RewriteBase    /

RewriteCond %{HTTP_ACCEPT} !application/xhtml\+xml [OR]
RewriteCond %{HTTP_ACCEPT} "application/xhtml\+xml *; *q=0"
RewriteRule \.xhtml$ - [T=text/html]