
.prev { float: left; }
.next { float: right; }
.prev, .next { cursor: pointer; color: red;  /*для сафари { */ position: relative; z-index: 1; /* } */ }
.disabled { cursor: default !important; color: silver !important }

.photos { width: 420px; }
.photos .viewport { background-color: silver; width: 420px; height: 200px; overflow: hidden; position: relative; }
.photos img { width: 420px; height: 200px; margin: 0 2px 2px 0; float: left; }

.opacity-gradient img { width: 100px; float: left; }