html,body,table,
h1,h2,h3,h4,
p,form,
fieldset,legend,
ol,ul,li,dl,dt,dd,pre,code{margin:0;padding:0;border:0;font-weight:normal;list-style:none}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:1em}
td{font-size:1em;vertical-align:top}
a{cursor:pointer;text-decoration:underline}
a:hover{text-decoration:none}
img{vertical-align:middle}
input,select{vertical-align:baseline}
a img{border:0}
input,select,textarea,pre,code{font:1em Arial,sans-serif}
ul{list-style-type:none}
table{border:0;border-collapse:collapse}
table td{padding:0}
html{height:100%;width:100%}
body{font: 12px Arial,sans-serif;}

#tests-output
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#tests-output .head { min-height: 30px; padding: 10px 15px 5px 15px; font-size: 1.75em; font-weight: bold; background-color: #888; color: #fff; }
#tests-output.failed,
#tests-output.passed { z-index: 65535; }
#tests-output.failed .head { background-color: #d40; }
#tests-output.passed .head { background-color: #082; }


#tests-output .body
{
	line-height: 1.6em;
	padding: 20px 15px 5px 40px;
	background: #fff;
	color: #aaa;
}

#tests-output .test { margin: 0 0 1.2em 0; list-style: outside decimal; }
#tests-output .test .title { font-size: 1.5em; color: #555; }
#tests-output .test.waiting .title { color: #000; }
#tests-output .test.failed .title { color: #d40; }
#tests-output .test.passed .title { color: #082; }
#tests-output .test.empty .title { color: #06d; }

#tests-output .line
{
	list-style: outside decimal;
	margin-left: 2em;
}


#tests-output .log { color: #888; list-style: none; }
#tests-output .info { color: #06d; list-style: none; }
#tests-output .pass { color: #082; }
#tests-output .fail { color: #d40; }
#tests-output .warning { color: #e80; }
#tests-output .skip { color: #555; }


/*<!--#if expr="$HTTP_USER_AGENT = /MSIE 6/" -->*/
#tests-output
{
	position: absolute;
	height: 100%;
}
/*<!--#endif -->*/